<%- include('../partials/aHeader'); -%> <% if(files.length !== 0) { %>
<ul class="tilesWrap">
	<ol class="gradient-list">
		<% files.forEach( file => { %>
		<li>
			<div>
				Name: <%= file.filename %> <br />Key: <%= file.key %><br />Name:
				<%= file.name %><br />Email: <%= file.email %><br />Status: <%=
				file.status %>
			</div>
		</li>
		<%})%>
	</ol>
</ul>
<button type="submit" class="btn blu"><a href="/admin">Go back</a></button>
<% }else {%>
<header>
	<div class="headings">
		<form>
			<label for="fily">No Files Uploaded yet..</label>
		</form>
	</div>
</header>
<%}%> <%- include('../partials/footer'); -%>
